li {
    margin: 0;
    padding: 0;
}


table {
    width: 99%;
    border-collapse: collapse;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

td {
    border: 0px solid;
    padding: 10px;
}

tr {
    border-collapse: collapse;
}

.botspace {
    margin-bottom: 5rem;
}